<div ng-controller="EditCompanyController">
    <div>
        <h4>{{company.Name}}</h4>
    </div>

    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active alwaysEnabled"><a href="#common" role="tab" data-toggle="tab">Common</a></li>
        <li role="presentation" ng-class="{disabled: company.ID == 0}"><a href="#users" role="tab" data-toggle="tab">Account Managers</a></li>
        <li role="presentation" ng-class="{disabled: company.ID == 0}"><a href="#email" role="tab" data-toggle="tab">Email Template</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="common">
            <form class="container-fluid row-pad" name="companyForm" style="margin-top: 20px">
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="name" class="control-label">Compamy Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="name" tabindex="1" class="form-control" required placeholder="Company Name" ng-model="company.Name" autofocus>
                    </div>
                    <!---->
                    <div class="col-md-2 ">
                        <label for="tz" class="control-label">TimeZone</label>
                    </div>
                    <div class="col-md-4">
                        <select name="tz" class="form-control" ng-model="company.TimeZone">
                            <option value="0">Novosibirsk</option>
                            <option value="1">CST</option>
                        </select>
                    </div>    
                </div>
                
                <!-- another row-->
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="adr1" class="control-label">Address 1</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="adr1" tabindex="2" class="form-control" required placeholder="Address 1" ng-model="company.Address1" >
                    </div>
                    <!---->
                    <div class="col-md-2 ">
                        <label for="ph" class="control-label">Phone</label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                            <input type="tel" name="ph" tabindex="9" class="form-control" required placeholder="(999) 999-9999" ng-model="company.Phone" data-mask="phone" />
                        </div>
                        
                    </div>
                    
                </div>
                <!-- another row-->
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="adr2" class="control-label">Address 2</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="adr1" tabindex="3" class="form-control"  placeholder="Address 2" ng-model="company.Address2" >
                    </div>
                    <!---->
                    <div class="col-md-2 ">
                        <label for="email" class="control-label">Email</label>
                    </div>
                    <div class="col-md-4">
                        <input type="email" name="email" tabindex="10" class="form-control" required placeholder="Email" ng-model="company.Email" >
                    </div>

                </div>
                <!-- another row-->
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="city" class="control-label">City</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="city" tabindex="4" class="form-control" required placeholder="City" ng-model="company.City" >
                    </div>
                    <!---->
                    <div class="col-md-2 ">
                        <label for="web" class="control-label">WebSite</label>
                    </div>
                    <div class="col-md-4">
                        <input type="url" name="web" tabindex="11" class="form-control" required placeholder="e.g. http://foo.bar" ng-model="company.WebSite" >
                    </div>

                </div>
                <!-- another row-->
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="state" class="control-label">State/Region</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="state" tabindex="5" class="form-control" required placeholder="State/Region" ng-model="company.State" >
                    </div>
                    <!---->
                    <div class="col-md-2 ">
                        <label for="domains" class="control-label">Company Domains</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="domains" tabindex="12" class="form-control" required placeholder="e.g. test.com;foo.bar;some.org" ng-model="company.Domains" ng-blur="getDomainUsers()" ng-attr-title="Avalible: {{avalibleUsers.length}} user(s)">
                    </div>

                </div>
                <!-- another row-->
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="country" class="control-label">Country</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="country" tabindex="6" class="form-control" required placeholder="Country" ng-model="company.Country" >
                    </div>
                    <!---->
                    <div class="col-md-6 ">
                        <div id="fileuploadContainer">
                            <div id="file-uploader"></div>
                        </div>
                    </div>
                </div>
                <!-- another row-->
                <div class="row">
                    <div class="col-md-2 no-lr-padding">
                        <label for="zip" class="control-label">ZIP</label>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                            <input type="text" name="zip" tabindex="7" class="form-control" required placeholder="ZIP" ng-model="company.Zip" data-mask="zip" >
                        </div>
                    </div>
                    <!---->
                    <div class="col-md-6 ">
                        &nbsp;
                    </div>
                </div>
                <!-- another row-->
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="users">
            <div class="container-fluid">
                <div class="row">
                    <table>
                        <tr>
                            <td>
                                Add Account Manager to this company
                            </td>
                            <td style="padding: 0 10px">
                                <select id="curManager" class="form-control">
                                    <option ng-repeat="user in avalibleUsers" value="{{user}}">{{user.FirstName}} {{user.LastName}}</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-default" ng-click="addManager()"><i class="fa fa-plus"></i> Add</button>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div class="row">
                    <table id="amTable" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-hover table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th >First Name</th>
                                <th >Last Name</th>
                                <th >Email</th>                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="manager in managers">
                                <td>{{manager.FirstName}}</td>
                                <td>{{manager.LastName}}</td>
                                <td>{{manager.Email}}</td>                                
                                <td>
                                    <a ng-click="deleteManager(manager)" role="button" class="btn btn-danger btn-sm"><i class="fa fa-remove"></i> Remove</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            
        </div>
        <div role="tabpanel" class="tab-pane" id="email">
            <div class="row">
                <div class="col-md-12">
                    <table width="100%">
                        <tr>
                            <td style="width: 40px"><label for="EmailTitle">Title</label></td>
                            <td>
                                <input type="text" name="EmailTitle" class="form-control" required placeholder="Email Title" ng-model="company.EmailTitle">    
                            </td>
                        </tr>
                    </table>                    
                </div>

            </div>
            <div class="row" style="margin-top: 10px">
                <textarea name="emailTemplate" id="emailTemplate" rows="10" cols="80">
                {{company.EmailTemplate}}
</textarea>
            </div>
        </div>
    </div>
    
    <div class="container-fluid" style="margin-top: 10px">
        <div class="col-lg-12">
            <a href="#" class="btn btn-primary pull-right" ng-click="save()" ><i class="fa fa fa-check"></i> Save</a>
        </div>        
    </div>
</div>

<script>
    window.comp = @Html.Raw(Json.Encode(Model));
    window.avalibUsers = @Html.Raw(Json.Encode(ViewBag.AvalibleUsers));
    window.managers = @Html.Raw(Json.Encode(ViewBag.Managers));
</script>