<div ng-controller="CompaniesController">

    <div class="text-left"><h3>Companies</h3></div>
    <div class="container-fluid text-right" style="margin-bottom: 10px;"><a class="btn btn-primary" href="/admin/companies/add"><i class="fa fa-plus"></i> Add Company</a></div>

    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Company Name</th>
                <th style="width: 10%">Address</th>
                <th style="width: 10%">City</th>
                <th style="width: 10%">State/Region</th>
                <th style="width: 10%">ZIP</th>
                <th style="width: 10%">Country</th>
                <th style="width: 10%">TimeZone</th>
                <th style="width: 10%">Phone</th>
                <th style="width: 10%">Domains</th>
                <th ></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="company in companies">
                <td>{{company.Name}}</td>
                <td>{{company.Address1}} {{company.Address2}}</td>
                <td>{{company.City}}</td>
                <td>{{company.State}}</td>
                <td>{{company.Zip}}</td>
                <td>{{company.Country}}</td>
                <td></td>
                <td>{{company.Phone}}</td>
                <td>{{company.Domains}}</td>
                <td>
                    <a href="/admin/companies/edit/{{company.ID}}" role="button" class="btn btn-success btn-sm"><i class="fa fa fa-pencil-square-o"></i> Edit</a>                    
                </td>
            </tr>
        </tbody>

    </table>

</div>
