<form class="form-inline">
    <div class="form-group">
        <label for="employeeNameInput">User name</label>
        <input type="text" class="form-control" id="employeeNameInput" placeholder="Enter name" ng-model="searchEmployeeName">
    </div>
</form>

<br/>

<div class="table-responsive">
    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'FullName'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'FullName' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'FullName' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a>Mobile phone</a>
                </td>
                <td>
                    <a>Email</a>
                </td>
                <td>
                    <a>Additional email</a>
                </td>
                <td>
                    <a>Skype</a>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="employee in employees | orderBy:sortType:sortReverse | filter:searchEmployeeName">
                <td><a href="{{uriToEmployee + employee.EmployeeId}}">{{ employee.FullName }}</a></td>
                <td>{{ employee.Phone }}</td>
                <td>{{ employee.Email }}</td>
                <td>{{ employee.AdditionalEmail }}</td>
                <td>{{ employee.Skype }}</td>
            </tr>
        </tbody>

    </table>
</div>