<div class="container-fluid" ng-controller="EmployeeSkillsController">
    <!-- FirstName LastName --> 
    <div class="row">
        <div class="col-sm-8">
            <h1 style="margin-top:0px">{{employee.FirstName}} {{employee.LastName}}</h1>
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="saveEmployee()">Save changes</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div><!-- /FirstName LastName --> 
    <!-- Skills --> 
    <div class="row">
        <div class="col-sm-12">
            <h2>
                Skills
                <sup>
                    <span id="help-for-skills" class="fa fa-question-circle" aria-hidden="true">
                    </span>
                </sup>
            </h2>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default" ng-repeat="item in employeeSkills">
                <div class="panel-heading">{{item.group.GroupName}}</div>
                <div class="panel-body">
                    <tags-input ng-model="item.skills"
                                replace-spaces-with-dashes="false"
                                template-scope="group"
                                allowed-tags-pattern=".+\|\s*[0-5]\s*(\|\s*[0-2])?$"
                                min-length="2"
                                add-on-comma="false"
                                add-on-blur="false"
                                template="Content/Templates/Dashboard/tag-template.html"
                                placeholder="Skill | Level | Preference"
                                display-property="SkillName"
                                key-property="SkillName"
                                on-tag-adding="onTagAdding($tag, item.group)"
                                on-tag-removing="onTagRemoving($tag)">
                        <auto-complete source="loadSkills($query, item.group)"
                                       min-length="0"
                                       load-on-focus="true"
                                       load-on-empty="true"
                                       load-on-down-arrow="true"
                                       max-results-to-show="32"></auto-complete>
                        <div ng-if="editTag">{{editTag.SkillName}}</div>
                    </tags-input>
                </div>
            </div>
        </div>
    </div><!-- /Skills -->
    <!-- Certificates --> 
    <div class="row">
        <div class="col-sm-12">
            <h2>Certificates</h2>
        </div>
        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Certificate name</th>
                        <th>Issued on</th>
                        <th>Valid throuth</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cert in employee.Certificates">
                    <td>{{cert.ID}}</td>
                    <td>{{cert.CertificateName}}</td>
                    <td><a href="#" editable-date="cert.ReceiptDate">
                        {{(cert.ReceiptDate | date: 'mediumDate') || 'not set'}}
                    </a></td>
                    <td><a href="#" editable-date="cert.ExpireDate">
                        {{(cert.ExpireDate | date: 'mediumDate') || 'not set'}}
                    </a></td>
                    <td>{{getStatus(cert)}}</td>
                    <td><button class="btn btn-default pull-right" ng-click="removeCertificate(cert)"><i class="fa fa-close"></i></button></td>
                </tr>
                <tr ng-show="insCertificate">
                    <td></td>
                    <td>
                        <select id="propertyType" class="form-control" ng-model="insCertificate.CertificateName">
                            <option ng-repeat="option in certificates" ng-value="option.CertificateName">{{option.CertificateName}}</option>
                        </select>
                    </td>
                    <td>
                        <input type="date" ng-model="insCertificate.ReceiptDate" class="form-control" />
                    </td>
                    <td>
                        <input type="date" ng-model="insCertificate.ExpireDate" class="form-control" />
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-disabled="!insCertificate.CertificateName" ng-click="addCertificateToEmployee()">Add</button>
                            <button class="btn btn-default" ng-click="cancelAddingCertificate()"><i class="fa fa-close"></i></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <a href="#" ng-click="addCertificate()" ng-hide="insCertificate">+ add new certificate</a>
        </div>
    </div><!-- /Certificates -->
    <hr />
    <!-- History --> 
    <div class="row">
        <div class="col-sm-12">
            <h2>Change history</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Changes</th>
                        <th>Performer</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in history">
                        <td>{{item.Changes}}</td>
                        <td>{{item.Performer}}</td>
                        <td>{{item.ModifyDate | localTimeFilter | date : 'MM/dd/yyyy HH:mm' }}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-default center-block" ng-show="isShowMore" ng-click="showMore()">Show more</button>
        </div>
    </div><!-- /History --> 
</div>
