<ng-switch on="type">
    <div class="form-group" ng-switch-when="email">
        <input class="form-control" type="email" ng-model="property.PropertyValue" required />
    </div>
    <div class="form-group" ng-switch-when="bool">
        <select class="form-control" ng-model="property.PropertyValue">
            <option value="true">yes</option>
            <option value="false">no</option>
        </select>
    </div>
    <div class="form-group" ng-switch-when="phone">
        <input class="form-control" type="tel" ng-model="property.PropertyValue" 
               pattern="\+\d\s\d{3}\s\d{3}-\d{4}" title="+X XXX XXX-XXXX" placeholder="+X XXX XXX-XXXX" required />
    </div>
    <div class="form-group" ng-switch-when="text">
        <input class="form-control" type="text" ng-model="property.PropertyValue" required />
    </div>
</ng-switch>

    
