<ng-switch on="type">
    <div ng-switch-when="email">
        {{property.PropertyType}}
        <a href="#" editable-email="property.PropertyValue" e-required>{{ property.PropertyValue || 'not set' }}</a>
        <a href="#" class="pull-right" ng-click="methodForButton()">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <div ng-switch-when="bool">
        {{property.PropertyType}}
        <a href="#" editable-select="property.PropertyValue" e-ng-options="p.value as p.text for p in values" e-required>
            {{ getText(property.PropertyValue) }}
        </a>
        <a href="#" class="pull-right" ng-click="methodForButton()">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <div ng-switch-when="phone">
        {{property.PropertyType}}
        <a href="#" editable-tel="property.PropertyValue" e-pattern="\+\d\s\d{3}\s\d{3}-\d{4}" e-title="+X XXX XXX-XXXX" e-required>
            {{ property.PropertyValue || 'not set' }}
        </a>
        <a href="#" class="pull-right" ng-click="methodForButton()">
            <i class="fa fa-trash"></i>
        </a>
    </div>
    <div ng-switch-default>
        {{property.PropertyType}}
        <a href="#" editable-text="property.PropertyValue" e-required>{{ property.PropertyValue || 'not set' }}</a>
        <a href="#" class="pull-right" ng-click="methodForButton()">
            <i class="fa fa-trash"></i>
        </a>
    </div>
</ng-switch>
