<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <div class="well">
        <div class="row ">
            <div class="col-lg-2">
                <label>Enter Employee's name: </label>
                <input ng-model='filterValue' class="form-control"/>
            </div>
            <div class="col-lg-2">
                <label>Choose employee's poisiton: </label>
                <select class="form-control" ng-model="selectedPosition" ng-options="p for p in positions"></select>
            </div>
            <div class="col-lg-2">
                <label>Choose skill's group: </label>
                <select class="form-control" ng-model="filterGroups" ng-options="g.GroupName for g in skillsGroup"></select>
            </div>
            <div class="col-lg-3">
                <label>Enter skill: </label>
                <tags-input ng-model="skillsForFilter" min-length="1" on-tag-removed="UnPinIt($tag)" on-tag-added="filterIt()" placeholder="enter skill name">
                    <auto-complete source="loadSkills($query)" addFromAutocompleteOnly="true" highlight-matched-text="true" max-results-to-show="200" min-length="1"></auto-complete>
                </tags-input>


            </div>
            <div class="col-lg-1"><label>&nbsp;</label><button class="btn btn-primary" ng-click="ResetAllFilters()">Reset All Filters</button></div>
        </div>





        </br>
        </br>

        <div ui-grid="gridOptions" class="grid" style="height: 500px" ui-grid-cellNav ui-grid-pinning></div>
        {{filterGroups.SKills}}
    </div>

</body>
</html>
