
    <div class="container-fluid pricing-table pricing-three-column">
        <div class="col-lg-6 plan-cont">
            <div class="plan">
                <div class="plan-name-bronze">
                    <h2>Accounts</h2>                    
                </div>
                <ul>                    
                    <li class="plan-feature">Add you clients' accounts</li>
                    <li class="plan-feature">Add agreements for those accounts</li>
                    <li class="plan-feature">Specify Terms for each agreement</li>
                    <li class="plan-feature">Create report sections for each agreement</li>
                    <li class="plan-feature"><a ng-href="/app/accounts" class="btn btn-primary btn-plan-select"><i class="fa fa-hand-o-right"></i> Go!</a></li>
                </ul>    
            </div>            
        </div>

        <div class="col-lg-6 plan-cont">
            <div class="plan">
                <div class="plan-name-bronze">
                    <h2>Create Report</h2>                    
                </div>
                <ul>
                    <li class="plan-feature">Create Billing and Status Reports for each agreement</li>
                    <li class="plan-feature">Select date range for the report and validate JIRA Tickets</li>
                    <li class="plan-feature">Edit ticket summary, description, comments, etc and create report</li>
                    <li class="plan-feature">Send the report to Account Manager</li>
                    <li class="plan-feature"><a ng-href="/app/reports/create" class="btn btn-primary btn-plan-select"><i class="fa fa-hand-o-right"></i> Go!</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 plan-cont">
            <div class="plan">
                <div class="plan-name-bronze">
                    <h2>Reports</h2>
                </div>
                <ul>
                    <li class="plan-feature">View all the drafts and completed reports for agreements</li>
                    <li class="plan-feature">Download or edit reports</li>                    
                    <li class="plan-feature"><a ng-href="/app/reports/list/" class="btn btn-primary btn-plan-select"><i class="fa fa-hand-o-right"></i> Go!</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 plan-cont">
            <div class="plan">
                <div class="plan-name-bronze">
                    <h2>Invoices</h2>
                </div>
                <ul>
                    <li class="plan-feature">Create invoices for your clients based on created billing reports</li>
                    <li class="plan-feature">Send invoices to your clients</li>
                    <li class="plan-feature"><a ng-href="/app/invoices" class="btn btn-primary btn-plan-select"><i class="fa fa-hand-o-right"></i> Go!</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 plan-cont">
            <div class="plan">
                <div class="plan-name-bronze">
                    <h2>KPI Reports</h2>
                </div>
                <ul>
                    <li class="plan-feature">View Billable Hours Reports</li>
                    <li class="plan-feature">Create detailed KPI Reports</li>
                    <li class="plan-feature"><a ng-href="/app/KPIreports" class="btn btn-primary btn-plan-select"><i class="fa fa-hand-o-right"></i> Go!</a></li>
                </ul>
            </div>
        </div>
    </div>
